<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ-панель 📚</title>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="../favicon.ico" rel="shortcut icon">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/fonts.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/basic.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/extra.min.css?v=59641147">
    <link rel="stylesheet" href="/assets/css/pagination.css">
    <script src="/assets/plg/html5shiv/html5shiv.js"></script>
    <script src="/assets/plg/html5shiv/html5shiv-printshiv.js"></script>
    <script defer="defer" src="/assets/js/scripts.min.js?v=59641147"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(admin='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Редактор книги
            </h1>
            <br>
            <form class="form Profile-form" action="#" enctype="multipart/form-data" th:method="${method}" th:object="${book}">
                <input type="hidden" th:field="*{id}">
                <div class="row">
                    <div class="row-block">
                        <div class="form-group">
                            <label class="form-label" for="title">Заголовок</label>
                            <input class="form-input" id="title" name="title" type="text" th:field="*{title}" data-validate="Заголовок обязателен"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="author">Авторы</label>
                            <select class="form-input" id="author" type="text" data-validate="Автор обязателен" th:field="*{authorSlug}" multiple>
                                <th:block th:each="author : ${authors}">
                                    <option th:text="${author.name}" th:value="${author.slug}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="genres">Жанры</label>
                            <select class="form-input" id="genres" type="text" th:field="*{genreSlug}" multiple>
                                <th:block th:each="genre : ${genreList}">
                                    <option th:text="${genre.genreName}" th:value="${genre.slug}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="tags">Теги</label>
                            <select class="form-input" id="tags" type="tags" th:field="*{tags}" multiple>
                                <th:block th:each="tag : ${tagsList}">
                                    <option th:text="${tag}" th:value="${tag}"></option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="image">Обложка</label>
                            <input class="form-input" id="image" name="image" type="file" th:field="*{bookImage}" accept="image/*" data-validate="Обложка обязательна"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="slug">slug-идентификатор</label>
                            <input class="form-input" id="slug" name="slug" type="text" th:field="*{slug}" data-validate="Slug обязателен"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="bestseller">Бестселлер</label>
                                Книга является бестселлером:
                                <input id="bestseller" name="bestseller" type="checkbox" th:checked="*{isBestseller}"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="pubDate">Дата выходы</label>
                            <input class="form-input" id="pubDate" name="pubDate" type="date" th:field="*{pubDate}"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="description">Описание</label>
                            <textarea class="form-input" id="description" name="description" type="text" th:field="*{description}" data-validate="Описание обязательно"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="price">Стоимость</label>
                            <input class="form-input" id="price" name="price" type="number" min="1" th:field="*{price}" data-validate="Стоимость обязательна">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="discount">Процент скидки</label>
                            <input class="form-input" id="discount" name="discount" type="number" min="0" max="99" th:field="*{discount}" data-validate="Процент скидки обязателен">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="fb2file">FB2-файл</label>
                            <input class="form-input" id="fb2file" name="fb2file" type="file" th:field="*{fb2File}" accept=".fb2"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="pdfFile">PDF-файл</label>
                            <input class="form-input" id="pdfFile" name="pdfFile" type="file" th:field="*{pdfFile}" accept="application/pdf"/>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="epubFile">EPUB-файл</label>
                            <input class="form-input" id="epubFile" name="epubFile" type="file" th:field="*{epubFile}" accept=".epub"/>
                        </div>
                        <div class="form-group">
                            <div class="Profile-btn">
                                <a class="btn btn_danger" th:href="@{/admin/books/}" type="button">Отменить
                                </a>
                                <button class="btn btn_primary" type="submit">Сохранить
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </main>
    </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>