<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Админ-панель 📚</title>
  <meta name="description" content="Описание страницы">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="../favicon.ico" rel="shortcut icon">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/assets/fonts/Montserrat/Montserrat-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fonts.min.css?v=59641147">
  <link rel="stylesheet" href="/assets/css/basic.min.css?v=59641147">
  <link rel="stylesheet" href="/assets/css/extra.min.css?v=59641147">
  <link rel="stylesheet" href="/assets/css/pagination.css">
  <script src="/assets/plg/html5shiv/html5shiv.js"></script>
  <script src="/assets/plg/html5shiv/html5shiv-printshiv.js"></script>
  <script defer="defer" src="/assets/js/scripts.min.js?v=59641147"></script>
</head>
<body class="Site">
<header class="Header"
        th:replace="~{fragments/common_header_fragment :: head(admin='menu-item menu-item_ACTIVE', status='unauthorized')}"></header>
<div class="Middle">
  <div class="wrap">
    <main class="Middle-main">
      <h1 class="Middle-title">Управление пользователями
      </h1>
      <br>
      <div class="Header-search">
        <div class="search">
          <div class="form form_search">
            <input class="search-input" id="adminQuery" name="query" type="text"
                   placeholder="Поиск по названию" value="" th:value="${searchQuery}"/>
            <a class="search-button" type="button" name="search" id="search"
               onclick="window.location.href='/admin/users/?searchQuery=' + document.getElementById('adminQuery').value">Поиск</a>
          </div>
        </div>
      </div>
      <div class="Section">
        <div class="tableWrap">
          <table class="table table_noMargin">
            <thead>
            <tr>
              <th>Идентификатор</th>
              <th>Имя</th>
              <th>Email</th>
              <th>Телефон</th>
              <th>Баланс</th>
              <th>Дата регистрации</th>
              <th>oAuth2</th>
              <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="userElement : ${users.getData()}">
              <td th:text="${userElement.getId()}">id</td>
              <td th:text="${userElement.getName()}">id</td>
              <td th:text="${userElement.getEmail()}">id</td>
              <td th:text="${userElement.getPhone()}">id</td>
              <td th:text="${#numbers.formatDecimal(userElement.getBalance(), 0, 'WHITESPACE', 0, 'POINT') + ' руб.'}"></td>
              <td th:text="${#temporals.format(userElement.getRegDate(), 'dd.MM.yyyy HH:mm')}"></td>
              <td th:text="${userElement.isOauthUser() ? '✅' : '❌'}">id</td>
              <td><a type="button" title="Книжная полка" th:href="@{/admin/users/edit/shelf/} + ${userElement.getId()}">📚</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div style="display: flex; overflow-x: auto">
        <div th:if="${users.getTotal() > users.getPerPage()}" class="pagination"
             th:each="pageNumber : ${#numbers.sequence(0, (users.getTotal()/users.getPerPage() - 1))}">
          <a th:href="@{/admin/users/(perPage=${users.getPerPage()}, page=${pageNumber}, searchQuery=${searchQuery})}"
             th:text="${pageNumber + 1}"
             th:class="${pageNumber== users.getPage()} ? active"></a>
        </div>
      </div>
    </main>
  </div>
</div>
<footer class="Footer" th:replace="~{fragments/common_footer_fragment :: footer}"></footer>
<script src="/assets/plg/jQuery/jquery-3.5.1.min.js"></script>
</body>
</html>