<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bookSlider">
    <div class="Section-header">
        <h2 class="Section-title" th:text="${title}">Рекомендуемое
        </h2>
    </div>
    <div class="Slider Slider_carousel">
        <div class="Slider-box Cards" data-loadlimit="20" data-loadoffset="0"
             th:attr="data-load = ${dataLoad}, data-value = ${dataValue}">
            <div class="Slider-item" th:each="book : ${bookList.books}">
                <div class="Slider-content">
                    <th:block th:replace="~{fragments/book_card_fragment::book(book=${book})}"></th:block>
                </div>
            </div>
        </div>
        <div class="Slider-navigateWrap">
            <div class="Slider-navigate">
            </div>
        </div>
        <div class="Slider-load">
            <div class="Slider-load-text">Идет загрузка данных
            </div>
        </div>
    </div>
</div>
</html>