<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="Tags" id="tags" th:fragment="cloud">
    <div style="display: inline" th:each="tag : ${tags}">
        <div class="Tag"
             th:classappend="${tag.weight} >= 0.8 ? 'Tag_lg' :
                (${tag.weight} >= 0.6 ? 'Tag_md' :
                    (${tag.weight} >= 0.4 ? '' :
                        (${tag.weight} >= 0.2 ? 'Tag_sm' : 'Tag_xs')))">
            <a href="/tags/index.html" th:href="@{/tags/} + ${tag.name}" th:text="${tag.name}">современная
                литература</a>
        </div>
    </div>
</div>
</html>